/* desktop */
@media (min-width: 1000px){
    body {
        background-color: aqua;
    }

    .portrait h1 {
        bottom: 5px;
        left: 75px;
    }
}

/* tablet */
@media (min-width: 860px) and (max-width: 999px){
    body {
        background-color: red;
    }

    .portrait h1{
        right: -250px;
        top: 20px;
    }

    .white {
        padding-left: 2rem;
    }
}

/* mobile */
@media (min-width: 0px) and (max-width: 859px){
    body {
        background-color: orange;
        margin: 0;
    }

    .white {
        padding: 2rem;
        margin: 0;
    }

    #selfie {
        width: 300px;
        height: 500px;
    }

    .portrait {
        transform: translate(0);
        text-align: center;
        float: none;
    }
    .portrait h1{
        position: relative;
        bottom: -500px;
    }

    h2 {
        text-align: center;
    }

    .headFooter {
        float: none;
        justify-content: center;
    }

    .grid {
        justify-content: center;
    }

    footer, .footerIcons {
        justify-content: center;
    }
}