body {
  font-family: Playfair Display, Roboto;
  background-color: antiquewhite;
  font-size: x-large;
}

.card {
    box-shadow: 5px 5px 10px grey;
}

header {
    margin: 10rem 6rem 4rem 6rem;
    padding: 1rem 2rem 4rem 0rem;
    background-color: white;
}

#selfie {
    width: 450px;
    height: 500px;
    object-fit: cover;
}

.portrait {
    transform: translate(-50px, -100px);
    color: white;
    float: left;
}

.portrait h1 {
    white-space: nowrap;
    position: absolute;
    margin: 0px;

    font-size: 50px;
    font-weight: 100;
}

h2 {
    margin: 0;
    white-space: nowrap;
}

.headFooter {
    display: flex;
    gap: 1rem;

    float: right;
}

.headFooter .icon {
    width: 2rem;
}