body {
  font-family: Playfair Display, Roboto;
  background-color: antiquewhite;
  font-size: xx-large;
}

.card {
    box-shadow: 5px 5px 10px grey;
}

header {
    margin: 10rem 6rem 4rem 6rem;
    padding: 2.5rem;
    background-color: white;
}

#selfie {
    width: 550px;
    height: 600px;
    object-fit: cover;
}

.portrait {
    /* transform: translate(-100px, -150px); */
    color: white;
    position: relative;
    left: -100px;
    top: -100px;
    float: left;
}

.portrait h1 {
    white-space: nowrap;
    position: absolute;
    margin: 0px;

    font-size: 50px;
    font-weight: 100;
}

h2 {
    margin: 0;
    white-space: nowrap;
}

.headFooter {
    display: flex;
    gap: 2rem;
}

.headFooter .icon {
    width: 3rem;
}